<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40979776003-771e2j8p2efm123leg5pieh8glndfv9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40979776003-771e2j8p2efm123leg5pieh8glndfv9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBQtKkCp87sXhvYMZ2rptyRYsBAF3TaOhc</string>
	<key>GCM_SENDER_ID</key>
	<string>40979776003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deneme.cemal</string>
	<key>PROJECT_ID</key>
	<string>denemecemal-f6edd</string>
	<key>STORAGE_BUCKET</key>
	<string>denemecemal-f6edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40979776003:ios:04c356dba17729e692c436</string>
	<key>DATABASE_URL</key>
	<string>https://denemecemal-f6edd.firebaseio.com</string>
</dict>
</plist>